<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decisions</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="icon">⚖️</div>
    <div class="title">Decisions</div>
    
    <a href="/login/">
        <button class="button">
            Start
        </button>
    </a>

    <button class="button-conf">
        <div class="icon-conf">⚙️</div>
    </button>
</body>
</html>