<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <a href="/">
        <div class="icon">👤</div>
     </a>

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" class="button">
                Pronto
        </button>
        
    </form>
</body>
</html>